@model CarnetSanitaire.Web.UI.Models.PointReleveTemperature

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PointReleveTemperature</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreatePoint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localisation" class="control-label"></label>
                <input asp-for="Localisation" class="form-control" />
                <span asp-validation-for="Localisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypePoint" class="control-label"></label>
                <select name="TypePointId" asp-items="ViewBag.TypePoint" class="form-control" ></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Statut" checked /> @Html.DisplayNameFor(model => model.Statut)
                </label>
            </div>
            <div class="form-group col-12 row">
                <input type="submit" value="Enregistrer" class="btn btn-outline-primary col-12 col-md-6" />
                <a asp-action="IndexPoints" class="btn btn-outline-danger col-12 col-md-6">Retour</a>
            </div>
        </form>
    </div>
</div>

