@model CarnetSanitaire.Web.UI.Models.ModelViewInstallation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Installation</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Materiaux" class="control-label"></label>
                <select asp-for="Materiaux" class="form-control" asp-items="ViewBag.Materiaux" multiple></select>
            </div>
            <div class="form-group">
                <label asp-for="CalorifugeageEfId" class="control-label"></label>
                <select asp-for="CalorifugeageEfId" class="form-control" asp-items="ViewBag.CalorifugeageEf"></select>
            </div>
            <div class="form-group">
                <label asp-for="CalorifugeageEcsId" class="control-label"></label>
                <select asp-for="CalorifugeageEcsId" class="form-control" asp-items="ViewBag.CalorifugeageEcs"></select>
            </div>
            <hr />
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.Interconnexion_Existance) <input class="form-check-input" asp-for="Interconnexion_Existance" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InterconnexionType" class="control-label"></label>
                <input asp-for="InterconnexionType" class="form-control" />
                <span asp-validation-for="InterconnexionType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.DispositifProtectionRetourEau) <input class="form-check-input" asp-for="DispositifProtectionRetourEau" />
                </label>
            </div>
            <div class="row col-12 form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary col-12 col-md-6" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger col-12 col-md-6">Retour</a>
            </div>
        </form>
    </div>
</div>

